name: ai_chat_app
description: "A new Flutter project."
publish_to: none

version: 1.0.0+1

environment:
  sdk: ^3.6.1

workspace:
  - packages/core/ui_kit
  - packages/core/api_client
  - packages/feature/chat

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  go_router: ^14.7.2
  flutter_riverpod: ^2.6.1
  riverpod_annotation: ^2.6.1
  dio: ^5.8.0+1
  json_annotation: ^4.9.0
  flutter_dotenv: ^5.2.1
  logging: ^1.3.0

  # Core packages
  ui_kit:
    path: packages/core/ui_kit

  # Feature packages
  chat:
    path: packages/feature/chat

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  custom_lint: ^0.7.5
  riverpod_lint: ^2.6.5
  riverpod_generator: ^2.6.5
  build_runner: ^2.4.15
  json_serializable: ^6.9.4
  very_good_analysis: ^10.0.0

flutter:
  uses-material-design: true

  assets:
    - .env
